# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/images/game-images/card-back.png
src/images/match-collections/fairies/fairies-id-*.png
src/images/match-collections/humanity-in-space/humanity-in-space-id-*.png
src/images/match-collections/people-with-dogs/people-with-dogs-id-*.png
src/images/match-collections/people-with-cats/people-with-cats-id-*.png
src/images/match-collections/super-heroes/super-heroes-id-*.png
src/images/match-collections/a-spring-celebration/src/images/match-collections/a-spring-celebration-id-*.png
