body {
    margin: 0;
}

.app-container {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: #D1FFD5;
    outline: 2px solid #B0B7C6;
}

.game-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.above-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.above-game-left {
  display: flex;
  flex-grow: 1;
  margin: 20px;
  box-sizing: border-box;
}

.above-game-middle {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-sizing: border-box;
}

.above-game-right {
  display: flex;
  flex-grow: 1;
  margin: 20px;
  box-sizing: border-box;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.container-1 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #FF9966;
  outline: 2px solid #B0B7C6;
}

.container-2 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color:  #009DC4;
  outline: 2px solid #B0B7C6;
}

.single-drop-down-control-container {
  position: absolute;
  z-index: 10;
}

.single-drop-down-button-open-close {
  display: flex;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 5px solid #AAA8A8;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.single-drop-down-button-open-close-img {
  display: flex;
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.single-drop-down-title-segment {
  display: flex;
  width: 450px;
  height: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-top: 5px solid #AAA8A8;
  border-bottom: 5px solid #AAA8A8;
  border-right: 5px solid #AAA8A8;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.single-drop-down-first-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-drop-down-left-spacer {
  display: flex;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  cursor: default;
}

.single-drop-down-row-segment {
  display: flex;
  width: 455px;
  height: 45px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #FFFFFF;
  border-bottom: 5px solid #AAA8A8;
  border-right: 5px solid #AAA8A8;
  border-left: 5px solid #AAA8A8;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #B2F6F4;
  }
}

.single-drop-down-body-container {
  display: flex;
  flex-direction: column;
}

.single-drop-down-row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-drop-down-row-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 3px solid #000000;
  border-radius: 100%;
  margin-left: 25px;
  box-sizing: border-box;
}

.single-drop-down-row-indicator-selected {
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #000000;
  box-sizing: border-box;
}

.single-drop-down-row-spacer {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-left: 25px;
  box-sizing: border-box;
}
