body {
    margin: 0;
}

.app-container {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: #D1FFD5;
}

.configure-game-container {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 30;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.above-game-configuration-container {
  display: flex;
  height: 121px;
}

.display-play-game-popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.game-configuration-choose-collection-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 80%;
}

.choose-collection-prompt {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: white;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

.configure-collection-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 25px;
  box-sizing: border-box;
  width: 300px;
  height: 106px;
  border-top: 10px solid #AAA8A8;
  border-bottom: 10px solid #AAA8A8;
}

.configure-collection-selector-chevron-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* remove default background */
  color: inherit; /* inherit text color from parent */
  border: none; /* remove default border */
  padding: 0; /* remove default padding */
  margin: 0;
  font: inherit; /* inherit font from parent */
  cursor: pointer; /* retain the hand cursor on hover */
  outline: inherit; /* inherit outline from parent */
  border-left: 10px solid #AAA8A8;
  border-right: 10px solid #AAA8A8;
  width: 85px;
  height: 86px;
}

.configure-collection-selector-chevron-right-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.left-right-mirror-flip-img {
  transform: scaleX(-1);
}

.configure-collection-title {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: black;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.sample-card {
  display: flex;
  height: 40%;
  width: 40%;
  object-fit: contain;
}

.play-game-title {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: white;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

.play-game-button {
  display: flex;
  background: none; /* #6ACAF7; */
  background-color: #6ACAF7;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-appearance: none; /* Remove style in Safari */
  -moz-appearance: none; /* Remove style in Firefox */
  appearance: none; /* Remove style in other browsers */
  border-radius: 20px;
}

.play-game-button-text {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: #6ACAF7;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.game-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.above-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 121px;
}

.above-game-left {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 50px;
}

.above-game-middle {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.above-game-right {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 50px;
}

.game-board {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-1 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #FF9966;
  outline: 2px solid #B0B7C6;
}

.container-2 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color:  #009DC4;
  outline: 2px solid #B0B7C6;
}

.single-drop-down-control-container {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
}

.single-drop-down-button-open-close {
  display: flex;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 5px solid #AAA8A8;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.single-drop-down-button-open-close-img {
  display: flex;
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.single-drop-down-title-segment {
  display: flex;
  width: 325px;
  height: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-top: 5px solid #AAA8A8;
  border-bottom: 5px solid #AAA8A8;
  border-right: 5px solid #AAA8A8;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.single-drop-down-first-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-drop-down-left-spacer {
  display: flex;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  cursor: default;
}

.single-drop-down-row-segment {
  display: flex;
  width: 330px;
  height: 45px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #FFFFFF;
  border-bottom: 5px solid #AAA8A8;
  border-right: 5px solid #AAA8A8;
  border-left: 5px solid #AAA8A8;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #B2F6F4;
  }
}

.single-drop-down-body-container {
  display: flex;
  flex-direction: column;
}

.single-drop-down-row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-drop-down-row-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 3px solid #000000;
  border-radius: 100%;
  margin-left: 25px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
}

.single-drop-down-row-indicator-selected {
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #000000;
  box-sizing: border-box;
}

.single-drop-down-row-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 25px;
  box-sizing: border-box;
}

.game-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.game-card {
  display: flex;
  object-fit: contain;
  height: 1px;
  width: 1px;
  box-sizing: border-box;
  cursor: pointer;
}

.row-spacer {
  display: flex;
  min-width: 1px;
  width: 100%;
  height: 25px;
}

.card-spacer {
  display: flex;
  width: 25px;
  min-height: 1px;
  height: 100%;
}

.large-image-viewer-container {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.large-image {
  display: flex;
  object-fit: contain;
  height: 1px;
  width: 1px;
  box-sizing: border-box;
  cursor: pointer;
}
